$h1: 36px;
$h2: 24px;
$h3: 16px;

$blue-main: hsl(219, 39, 62);
$blue-bright: hsl(194, 83, 48);
$blue-dark: hsl(215, 54, 42);
$blue-darker: hsl(215, 47, 42);

$font-quote: #e3e7f2;
$font-h2-color: #cbe2fb;

$red-btn: hsl(333, 100, 45);

$success-tip-color: #5cd895;
$error-tip-color: #e60067;